canvas#canvas
  border: 0px solid #000
  width: 944px
  height: 766px
  margin-top: -1px
  overflow: hidden
  background: url(/images/smoothish_paper.jpg)
  cursor: "hand"


img
  z-index: 100
  position: absolute
  left: 50%
  top: 50%
  margin-top: -197px
  margin-left: -250px
